<plugin>
	<nom>HTML5</nom>
	<prefix>html5</prefix>
	<icon>html5.png</icon>

	<version>1.0.1</version>
	<etat>dev</etat>
	<categorie>outil</categorie>

	<slogan>Améliorer l'usage de HTML5 dans SPIP</slogan>
	<description>Ce plugin améliore l'usage de HTML5 dans votre site SPIP en ajoutant :
-* un script pour émuler les balises HTML5 dans les vieux navigateurs,
-* surcharge de certains formulaires SPIP,
-* correction des erreurs résiduelles dans le code généré,
-* sans oublier d'activer HTML5 dans SPIP.
	</description>
	<lien>https://contrib.spip.net/html5</lien>

	<auteur>davux, [tetue->http://spip.tetue.net]</auteur>
	<licence>GNU/GPL, WTFPL</licence>
	<credit lien="https://github.com/aFarkas/html5shiv">html5shiv</credit>

	<options>html5_options.php</options>

	<pipeline>
		<nom>insert_head_css</nom>
		<action>insert_head_css</action>
		<inclure>html5_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.0.0;3.2.99]">
	<necessite id="figure" version="[1.0.1;]">
</plugin>