<plugin>
	<nom>HTML5 dans SPIP</nom>
	<prefix>html5</prefix>
	<icon>html5.png</icon>

	<version>0.2.4</version>
	<etat>dev</etat>
	<categorie>outil</categorie>

	<slogan>Bases pour faire un site en HTML5</slogan>
	<description>Ce plugin pose les bases pour faire un site en HTML5. Il fournit actuellement:
-* un patch pour émuler les balises HTML5 dans Internet Explorer aussi
-* une surcharge de certains formulaires SPIP pour utiliser les nouveaux types d'<code><input></code>
	</description>
	<licence>GNU/GPL</licence>
	<auteur>davux</auteur>
	<lien>https://contrib.spip.net/html5</lien>

	<pipeline>
		<nom>insert_head_css</nom>
		<action>insert_head_css</action>
		<inclure>html5_pipelines.php</inclure>
	</pipeline>

	<necessite id="SPIP" version="[2.0.0;3.2.99]" />
</plugin>